{% extends 'base.html.twig' %}
{% form_theme formChantier 'bootstrap_4_layout.html.twig' %}
{% block title %}Hello formChantier!{% endblock %}

{% block body %}
	<div class="col-10">
			<h1>Création Etudiant</h1>
			
{{form_start(formChantier)}}
 

 {{form_widget(formChantier)}} 
 

<button type="submit" class="btn btn-info">Enregistrer</button>



		<a  href="{{path('crud_chantiers')}}"   class="btn btn-warning">Retour</a>
{{form_end(formChantier)}}
	</div>

 
{% endblock %}